*{
    background-color: rgb(8, 196, 149);
    padding: 2px;;
}
h3{
    background-color: beige;
    color:rgb(64, 61, 58)
}
.Details{
    color:blanchedalmond;
}
#title{
    color:rgb(109, 19, 19);
}
h3,p{
    color:black
}