.title{
  background-color:rgb(147, 103, 192);
  color:rgb(96, 48, 154);
}
.section{
  background-color:lightgoldenrodyellow;
  color:darkgoldenrod;
}
.student{
  background-color:lightblue;
  color:darkblue;
}
.topic{
  background-color:lightcoral;
  color:darkred;
}
.status{
  background-color:rgb(218, 243, 171);
  color:rgb(24, 26, 23);
}
.teacher{
  background-color:lightcoral;
  color:rgb(103, 41, 61);
}